@model PrismaCatalogo.Front.Cliente.Models.UsuarioViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="flex-md-column">
    <div>
        <h1 class="text-center">Usuario</h1>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-group">
                    <label asp-for="NomeUsuario" class="control-label"></label>
                    <input asp-for="NomeUsuario" class="form-control" />
                    <span asp-validation-for="NomeUsuario" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Senha" class="control-label"></label>
                    <input asp-for="Senha" type="password" class="form-control" />
                    <span asp-validation-for="Senha"  class="text-danger"></span>
                </div>

                <div class="form-group text-center">
                    <input type="submit" value="Criar" class="btn btn-padrao" />
                </div>
            </form>
        </div>
    </div>
</div>

