@model PrismaCatalogo.Front.Cliente.Models.UsuarioLoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="flex-md-column">
    <div class="text-center">
        <h1 class="display-4">Login</h1>
    </div>

    @if (ViewBag.Fail != null)
    {
        <div class="alert alert-danger">Usuário ou senha incorretos!</div>
    }

    <div class="row justify-content-center">
        <div class="col-md-4">
            <form method="post">
                <div data-mdb-input-init class="form-outline mb-4">
                    <label asp-for="NomeUsuario" class="form-label"></label>
                    <input asp-for="NomeUsuario" class="form-control" />
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                    <label asp-for="Senha" class="form-label"></label>
                    <input asp-for="Senha" type="password" class="form-control" />
                </div>

                <div class="form-group text-center">
                    <a asp-action="Create" asp-controller="Auth">Criar conta</a>
                </div>

                <div class="form-group text-center">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Esqueci minha senha
                    </a>
                </div>

               @*  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Esqueci minha senha
                </button> *@

                <div class="form-group text-center">
                    <button data-mdb-ripple-init type="submit" class="btn btn-padrao">Entrar</button>
                </div>
            </form>

        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Esqueci minha senha</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="senhaCodigo" method="post" asp-action="EnviaCodigoSenha">
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label asp-for="NomeUsuario" class="form-label"></label>
                        <input asp-for="NomeUsuario" class="form-control" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button id="btnEnviaCodigo" type="button" class="btn btn-padrao">Enviar codigo</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).on("click", "#btnEnviaCodigo", function () {
        //alert("wssss")
        $("#senhaCodigo").submit();
    });
</script>