@{
    ViewData["Title"] = "Unauthorized";
}

<div class="text-center">
    <h1 class="display-4">Acesso não autorizado</h1>
</div>

<div class="text-center">
    <a asp-action="Index" asp-controller="Home">Voltar para a Página Pricipal</a>
</div>
