@model PrismaCatalogo.Front.Cliente.Models.ProdutoViewModel

<div class="item">
    <div class="thumb">
        <div class="hover-content">
            <ul>
               <li><a asp-controller="Produto" asp-action="Index" asp-route-produtoId="@Model.Id"><i class="bi bi-eye"></i></a></li>
            </ul>
        </div>
        @if (Model.FotoCapa != null)
        {
            <img src="@Model.FotoCapa.Caminho"/>
        }
        else
        {
            <img src="~/images/SemImagem.png" />
        }
    </div>
    <div class="down-content" style="display:flex;flex-wrap: wrap;justify-content: space-around;">
        
        <div>
            <h4>@Model.Nome</h4>
            <span>Preço: @(Model.Preco != null ? Model.Preco : "--")</span>
        </div>
        <div>
            @await Component.InvokeAsync("Estrelas", new { num = Convert.ToInt32(Model.AvaliacaoMedia) })
        </div>
    </div>
</div>
