
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div style="display:flex; flex-direction:column; text-align:center;; margin-top: 5vh">
    <h2 class="text-danger">Ocorreu um Erro</h2>

        <p>
            <strong>Identificação do Erro:</strong> <code>@Model.RequestId</code>
        </p>

    <h3>Tente novanmente mais tarde.</h3>
</div>